//Colors
$white: #F8F9FA;
$light-grey: #E9ECEF;

$dark-navy: #212E37;
$light-navy: #2B3743;


* {
  transition: background-color 0.2s ;
}
html{
  font-size: 16px;
}
#header{
  height: 6rem;
  i{
    font-weight: 400;
    font-size: 1.5rem;
    padding-right: 0.25em;
  }
}
#header-title{
  font-size: 1.6rem;
  padding-left: 1rem;
}
#empty-col{
  @media (max-width:576px) {
    display: none;
  }
}

a{
  all: unset;
}
a:hover{
  cursor: pointer;
  color: black;
}
.country-card{
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0;
  transition: box-shadow 0.1s ease-in-out;
  border: 1px solid #eee;
  img{
    width: 100%;
    height: 10rem;
  }
}
.country-card:hover{
  box-shadow: 0 0 3px #515151
}
.country-card-body{
  height: 9rem;
  padding-left: 0.5rem;
  border-radius: 25px;
  #name{
    font-size: 1.5rem;
  }
  h4{
    font-size: 1rem;
  }
}

#theme-selector:hover{
  cursor: pointer;
}

#wrong-name{
  font-weight: 600;
  font-size: 1.5rem;
}

// Themes
 // Light theme --default
.theme--light{
  #header{
    background-color: $light-grey;
  }
  #theme--dark-text {
    font-size: 1rem;
  }
  .country-card{
    background-color: $light-grey;
    border: 0.5px solid $light-grey;
  }
}
  // Dark theme
.theme--dark{
    background-color: $light-navy;
    color: $white;
  #header{
    background-color: $dark-navy;
    color: $white;
    i{
      font-weight: 600;
    }
  }
  #theme--light-text {
    font-size: 1rem;
  }
  #search{
    background-color: $dark-navy;
    color: $white;
    ::placeholder{
      color: $white;
    }
  }
  #select-region{
    background-color: $dark-navy;
    color: $white;
  }
  .country-card{
    background-color: $light-navy;
    color: $white;
    border: 0.5px solid black;
  }
  .footer{
    background-color: $dark-navy;
  }
  img{
    filter: grayscale(40%);
  }
  #back-button{
    background-color: $dark-navy;
  }
  #border{
    background-color: $dark-navy;
  }
}
#population{
  font-weight: 400;
}
#capital{
  font-weight: 400;
}
#continent{
  font-weight: 400;
}

// Footer
section{
  min-height: 94vh;
}
.footer{
  display: flex;
  width: 100%;
  height: 6vh;
  background-color: $light-grey;
  text-align: center;
}
#my-name{
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 0;
}
#social{
  font-size: 2rem;
  margin: 0rem 0.2rem;
}
