// run  sass stylesheets/source/index.scss stylesheets/build/index.css to process Sass


//Colors
$white: #F8F9FA;
$light-grey: #E9ECEF;
html{
  font-size: 16px;
}
#header{
  height: 6rem;
  background-color: $light-grey;
  i{
    font-weight: 400;
    font-size: 2.5em;
    padding-right: 0.25em;
  }
}

.country-card{
  background-color: $light-grey;
  border-radius: 4px;
  img{
    width: 100%;
    height: 10rem;
  }
}
.country-card-body{
  height: 6rem;
  padding-left: 0.5rem;
  border-radius: 25px;
  #name{
    font-size: 1rem;
  }
  h4{
    font-size: 0.5rem;
  }
}
